*.pyc
.svn
.idea
kafka.conf
server.log
.project
.pydevproject
system.conf
/log
/logs
*.log
*.dat.csv
feature.csv@*
*data.csv*
data.csv@*
prediction.csv@*
*feature.csv*
*data.xlsx*
user_feature*.txt
.vscode
.DS_Store
Pipfile
Pipfile.lock
*info.csv
*data.csv
*info*.csv
__pycache__
*info.csv
*data.csv
*info*.csv
*.sqlite3
media/
static/
*.gv
*.pdf
test-output/
venv/
